@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="text-align:center; vertical-align:central; margin-top:50px;">
        <div class="bg-info col-md-3 " style="border-radius:10px;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>~DUYURULAR~</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span style="font-size:13px;"> 7 Aralık</span></th>
                        <td>Kimlik bulundu</td>
                    </tr>
                    <tr>
                        <th scope="row">6 Aralık</th>
                        <td>Cüzdan Bulunu</td>
                    </tr>
                </tbody>
                <tfoot>

                    <tr> <th></th><th><span style="font-size:13px;">Bütün Duyurular → </span></th></tr>

                </tfoot>
            </table>

        </div>
        <div class="col-md-1"></div>
        <div class="bg-info col-md-3 " style="border-radius:10px;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        
                        <th>~İLANLAR~</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span style="font-size:13px;"> 7 Aralık</span></th>
                        <td>Satılık Kitap</td>
                    </tr>
                    <tr>
                        <th scope="row">6 Aralık</th>
                        <td>Satılık Cetvel</td>
                    </tr>
                </tbody>
                <tfoot>

                    <tr> <th></th><th><span style="font-size:13px;">&nbsp&nbspBütün İlanlar →</span></th></tr>

                </tfoot>
            </table>

        </div>
        <div class="col-md-1"></div>

        <div class="bg-info col-md-3 " style="border-radius:10px;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>~Soru Cevap~</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span style="font-size:13px;"> 7 Aralık</span></th>
                        <td>Sınav Soruları</td>
                    </tr>
                    <tr>
                        <th scope="row">6 Aralık</th>
                        <td>Çıkmış Sorular</td>
                    </tr>
                </tbody>
                <tfoot>

                    <tr> <th></th><th><span style="font-size:13px;">Bütün Soru-Cevap →</span></th></tr>

                </tfoot>
            </table>

        </div>

    </div>
</div>












