@using UniPlatform.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="text-align:center; vertical-align:central; margin-top:50px;">
        <div class="bg-info col-md-3 " style="border-radius:10px;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>~DUYURULAR~</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in ViewBag.duyurular as ICollection<Duyurular>)
                        {

                            string url = "onclick=window.location='" + Url.Action("DuyuruDetay", "Home", new { id = item.ID }) + "';";

                            @Html.Raw("<tr style='cursor:pointer;' " + url + "><th scope = 'row'><span style = 'font-size:11px;'> " + item.DuyuruTarihi.ToLongDateString().Replace(" 2019", "").Replace(",", "") + " </span ></th ><td >" + (item.DuyuruBaslik.Length > 30 ? item.DuyuruBaslik.Substring(0, 25) + "..." : item.DuyuruBaslik) + "</td ></tr>");
                        }

                    }
                </tbody>
                <tfoot>

                    <tr> <th></th><th><span style="font-size:13px;"><a href="@Url.Action("ButunDuyurular","Home")">Bütün Duyurular → </a></span></th></tr>

                </tfoot>
            </table>

        </div>
        <div class="col-md-1"></div>
        <div class="bg-danger col-md-3 " style="border-radius:10px;">

            <table class="table table-hover">
                <thead>
                    <tr>

                        <th>~İLANLAR~</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span style="font-size:13px;"> 7 Aralık</span></th>
                        <td>Satılık Kitap</td>
                    </tr>
                    <tr>
                        <th scope="row">6 Aralık</th>
                        <td>Satılık Cetvel</td>
                    </tr>
                </tbody>
                <tfoot>

                    <tr> <th></th><th><span style="font-size:13px;">Bütün İlanlar→</span></th></tr>

                </tfoot>
            </table>

        </div>
        <div class="col-md-1"></div>

        <div class="bg-warning col-md-3 " style="border-radius:10px;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>~Soru Cevap~</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span style="font-size:13px;"> 7 Aralık</span></th>
                        <td>Sınav Soruları</td>
                    </tr>
                    <tr>
                        <th scope="row">6 Aralık</th>
                        <td>Çıkmış Sorular</td>
                    </tr>
                </tbody>
                <tfoot>

                    <tr> <th></th><th><span style="font-size:13px;">Bütün Soru-Cevap →</span></th></tr>

                </tfoot>
            </table>

        </div>

    </div>
</div>












