@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="text-align:center; vertical-align:central; margin-top:50px;">
        <div class="bg-danger col-md-3 " style="height:100px; border-radius:20px;"></div>
        <div class="col-md-1"></div>
        <div class="bg-danger col-md-3 " style="height:100px; border-radius:20px;"></div>
        <div class="col-md-1"></div>

        <div class="bg-danger col-md-3 " style="height:100px; border-radius:20px;"></div>

    </div>
</div>












